@import url('./reset.css');
@import url('./fonts.css');
@import url('./colors.css');

body {
	--theme-background-color: var(--white);

	--background-color-primary: var(--blue-400);
	--background-color-success: var(--green-400);

	--background-color-primary-hover: var(--blue-800);
	--background-color-success-hover: var(--green-800);

	--text-color: var(--gray);
	--text-color-emphasis: var(--blue-800);
	--text-color-inverse: var(--white);

	--text-size-smallest: 0.75rem;
	--text-size-small: 1rem;
	--text-size-regular: 1.25rem;
	--text-size-h3: 1.5rem;
	--text-size-h2: 2rem;
	--text-size-h1: 2.5rem;

	font-family: 'Salesforce Sans';
	color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'ITC Avant Garde';
	color: var(--text-color-emphasis);
}

a {
	cursor: pointer;
}
